.artist-results {
  width: 1200px;
}
.artist-results table {
  border-collapse: collapse;
}


.image-placeholder {
  height: 150px;
  width: 150px;
  background-color: #1a1c20;
  margin: 10px;
}


.artist-table thead {
  font-size: 2em;
  text-align: center;
}
.artist-table tr {
  text-align: center;
}

.artist-table tr:hover {
  background-color: #22262c;
  cursor: pointer;
}

.artist-table-name {
  max-width: 450px;
  text-align: left;
}
.artist-table-name a {
  margin-left: 10px;
}

.artist-row {
  font-size: 2em;
  color: white;
  font-weight: bold;
}
.artist-row#selected-artist {
  background-color: #323948;
}

.artist-row-rank {
  font-size: 1.5em;
  text-align: center;
}

.artist-row a {
  color: white;
}
.artist-row img {
  max-width: 150px;
  max-height: 150px;
  margin: 10px;
}