.top-list {
  width: 50rem;
}

.top-list ul {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.top-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: .5rem .6rem;
  margin: .5rem 0;

  background-color: var(--foreground);
  border-radius: .3rem;
}
.top-list li.selected-item {
  background-color: var(--border);
}

.top-list-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.top-list ul h1 {
  font-size: 1.8em;
  font-weight: bold;

  display: inline;
  padding: 0;
  margin: 0;
}
.top-list ul h1:hover {
  color: var(--primary-light);
}
.top-list ul h3 {
  display: inline;
  padding: 0;
  margin: 0;

  cursor: default;

  color: var(--copy-light);
}
.top-list ul h3 a:hover {
  color: var(--primary);
}


.top-list-image {
  min-width: 4rem;
  min-height: 4rem;
  max-width: 4rem;
  max-height: 4rem;

  border-radius: .2rem;
  overflow: hidden;

  background-color: var(--background);

  transition: all .4s linear;
}
.top-list-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.top-list-image img:hover {
  opacity: 0.75;
}

.top-list-card {
  width: 100%;
  transition: background-color .1s ease-out;
}

.top-list-card:hover {
  background-color: var(--border);
}


.view-all {
  font-size: 1.25rem;
  float: right;
}
.view-all:hover {
  text-decoration: underline;
}
