.nav {
  color: var(--primary-content);
  background-color: var(--primary);
  font-size: 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: .5rem 1rem;

  position: sticky;
  top: 0;
  z-index: calc(infinity);
}

.nav-left {
  display: flex;
  gap: 1rem;
}

.nav-title {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}

.nav-left ul {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
}
.nav-left a {
  text-decoration: none;

  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem .75rem;

  transition-duration: .2s;
}
.nav-left li.active {
  font-weight: bold;
  color: #eee;
}
.nav-left a:hover {
  color: #eee;
  transform: translateY(-3px);
}


@keyframes spin {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
.nav-title:hover {
  color: white;
  animation: spin .3s ease infinite alternate;
}


.light-dark-button {
  width: 1.5em;
  height: 1.5em;
  margin: auto 5px;
  padding: 2px;

  position: relative;
  background-color: var(--foreground);
  border-radius: .4rem;

  overflow: hidden;

  color: var(--copy);
  cursor: pointer;
  user-select: none;

  transition: all .2s ease;
}
.light-dark-button:hover {
  background-color: var(--copy);
  color: var(--foreground);
}
.light-dark-button svg {
  display: block;
  transition: all .4s ease;
}

.light-dark-button:hover svg {
  transform: translateY(-100%);
}

body.light-mode div.light-dark-button svg {
  transform: translateY(-100%);
}
body.light-mode div.light-dark-button:hover svg {
  transform: translateY(0%);
}

/* .light-dark-button:hover::after {
  content: 'Switch theme';
  position: absolute;
  top: 120%;
  right: -40%;

  white-space: nowrap;

  background-color: var(--copy);
  color: var(--foreground);

  border-radius: .2rem;
  padding: .2rem;

  font-size: .9rem;

  animation: fade-in .3s ease .1s both;
}
@keyframes fade-in {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 60%;
  }
} */


.nav-right {
  font-size: 0.9em;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.nav-search-container {
  position: relative;
  width: 15rem;
  transition: .2s ease;
}
.nav-search-container:has(input:focus) {
  width: 27rem;
}

.nav-search-container input {
  background-color: var(--foreground);
  color: var(--copy);
  font-size: inherit;

  width: 100%;

  padding: 0.5rem 0.75rem;

  border: 0.1rem solid var(--border);
  border-radius: 0.4rem;
}
.nav-search-container input:focus {
  outline: none;
  border-color: var(--primary-light);

  /* width: 25rem; */
}
.nav-search-container input::placeholder {
  color: var(--copy-lighter);
  opacity: 1;
}
.nav-search-container input::-webkit-search-cancel-button{
  cursor: pointer;
}

.nav-search-button {
  font-size: inherit;
  padding: 0.5rem;
  background: none;
  color: var(--primary-content);
  background-color: var(--primary-light);
  text-align: center;
  font-weight: 600;

  border: none;
  border-radius: 0.4rem;

  cursor: pointer;

  transition-duration: .1s;
}
.nav-search-button:hover {
  background-color: var(--primary-dark);
}

.nav-search-results {
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  gap: .2rem;
  padding: .3rem;

  color: var(--copy);
  background-color: var(--foreground);

  padding: .3rem;
  border-radius: .3rem;
}

.nav-search-result {
  display: flex;
  align-items: center;
  gap: .6rem;

  border-radius: .3rem;
  padding: .2rem .45rem;
  background-color: var(--foreground);
}
.nav-search-result:hover {
  background-color: var(--background);
}

.nav-search-result-img {
  max-width: 2.5rem;
  max-height: 2.5rem;
  min-width: 2.5rem;
  min-height: 2.5rem;

  overflow: hidden;
  border-radius: .2rem;
}
.nav-search-result-img img {
  width: 100%;
  height: 100%;
}

.nav-search-result-text {
  display: flex;
  flex-direction: column;
  justify-items: center;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nav-search-result-text-primary {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  font-size: 1.2rem;
  font-weight: 600;
  color: var(--copy);
}
.nav-search-result-text-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-search-result-text-secondary {
  font-size: 1rem;
  color: var(--copy-light);
}


.nav-search-button {
  display: none;
}

@media (max-width: 1035px) {
  .nav {
    font-size: 98%;
  }

  .nav-search-container:has(input:focus) {
    width: 15rem;
  }
}

@media (max-width: 850px) {
  .nav-search-container:has(input:focus),
  .nav-search-container {
    width: 20vw;
  }
}

@media (max-width: 750px) {
  .nav-search-container {
    display: none;
  }
}

@media (max-width: 610px) {
  .nav-title {
    display: none !important;
  }
}
