@keyframes load-progress {
  from {
    width: 0%;
  }
  to { 
    width: 100%
  }
}

.time-progress-bar {
  display: inline-flex;
  position: relative;
  justify-content: center;
  
  min-width: 12rem;
  padding: .4rem 1rem;

  background-color: var(--background-dark);
  border: solid var(--border-dark) .1rem;
  border-radius: .3rem;
  overflow: hidden;

  cursor: default;
}

.time-progress-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.time-progress-background div {
  width: 100%;
  height: 100%;
  background-color: var(--copy-dark);
  animation: load-progress .7s ease forwards;
}

.time-progress-text {
  color: var(--copy-dark);
  mix-blend-mode: difference;
}

