
.time-progress-bar {
  display: inline-flex;
  position: relative;
  justify-content: center;
  
  min-width: 12rem;
  padding: .4rem 1rem;

  background-color: var(--background);
  border: solid var(--border) .1rem;
  border-radius: .3rem;

  cursor: default;
}

.time-progress-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--copy);
}

.time-progress-text {
  color: var(--copy);
  mix-blend-mode: difference;
}

