.top-list {
  width: 50rem;
}

.top-list ul {
  padding: 0;
  margin: 0;
  list-style: none;

  width: 100%;
}

.top-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: .5rem .6rem;
  margin: .5rem 0;

  background-color: rgba(0, 0, 0, .2);
  border-radius: .2rem;

  transition: .2s ease;
}
.top-list li.selected-item {
  background-color: rgba(78, 78, 78, .5);
}

.top-list-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.top-list ul h1 {
  font-size: 1.75em;
  font-weight: bold;

  display: inline;
  padding: 0;
  margin: 0;

  transition-duration: .1s;
}
.top-list ul h2 {
  font-size: 1.2em;
  font-weight: normal;

  display: inline;
  padding: 0;
  margin: 0;

  transition-duration: .1s;
}
.top-list ul a:hover {
  color: #d0d6e4;
}

.top-list-image {
  min-width: 5rem;
  min-height: 5rem;
  max-width: 5rem;
  max-height: 5rem;

  border-radius: .5rem;
  overflow: hidden;

  background-color: rgb(26, 26, 27);
}
.top-list-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;

  transition: .1s ease;
}
.top-list-image img:hover {
  opacity: 0.75;
}


.view-all {
  font-size: 1.25rem;
  float: right;
}
.view-all:hover {
  text-decoration: underline;
}
