.Stats-title {
  width: 80%;
  height: 304px;
  font-size: 1.5em;

  background-color: #20242a;

  margin-top: 50px;
  padding: 10px;
}
.Stats-title img {
  float: left;
  width: 300px;
  border: solid #14161a 2px;
}
.Stats-main {
  float: left;
  padding-left: 1.5em;
  padding-top: 70px;
}
.Stats-title-name {
  font-size: 4em;
  font-weight: bold;
}
.Stats-title-timeDiv {
  padding-top: 5px;

}
.Stats-title-time {
  font-size: 2em;
  font-weight: bold;
  float: left;
}

.Stats-title-rank {
  margin-left: 50px;
  float: left;
  cursor: pointer;
}
