:root {
  --primary: #1695c6;
  --primary-content: #dff4fb;
  --primary-dark: #117298;
  --primary-light: #28b2e7;
  
  --secondary: #9f16c6;
  --secondary-content: #f5dffb;
  --secondary-dark: #7a1198;
  --secondary-light: #bd28e7;
  
  --background: #161b1d;
  --foreground: #21282b;
  --border: #384348;
  
  --copy: #fbfbfc;
  --copy-light: #d4dbde;
  --copy-lighter: #9babb1;
  
  --success: #16c616;
  --warning: #c6c616;
  --error: #c61616;
  --success-content: #dffbdf;
  --warning-content: #000000;
  --error-content: #fbdfdf;

  --background-dark: #161b1d;
  --border-dark: #384348;
  --copy-dark: #fbfbfc;
}

.light-mode {
  --background: #eef1f2;
  --foreground: #fbfbfc;
  --border: #dbe1e3;
  
  --copy: #21282b;
  --copy-light: #596c73;
  --copy-lighter: #7e939b;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background);
  color: var(--copy);
}


::selection {
  background: var(--primary);
}
::-moz-selection {
  background: var(--primary);
}
