:root {
  --primary: #1695c6;
  --primary-content: #dff4fb;
  --primary-dark: #117298;
  --primary-light: #28b2e7;
  
  --secondary: #9f16c6;
  --secondary-content: #f5dffb;
  --secondary-dark: #7a1198;
  --secondary-light: #bd28e7;
  
  --background: #161b1d;
  --foreground: #21282b;
  --border: #384348;
  
  --copy: #fbfbfc;
  --copy-light: #d4dbde;
  --copy-lighter: #9babb1;
  
  --success: #16c616;
  --warning: #c6c616;
  --error: #c61616;
  --success-content: #dffbdf;
  --warning-content: #000000;
  --error-content: #fbdfdf;

  --background-dark: #161b1d;
  --border-dark: #384348;
  --copy-dark: #fbfbfc;
}

.light-mode {
  --background: #eef1f2;
  --foreground: #fbfbfc;
  --border: #dbe1e3;
  
  --copy: #21282b;
  --copy-light: #596c73;
  --copy-lighter: #7e939b;
}


* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
body {
  margin: 0;

  font-family: "Poppins", sans-serif;
  /* font-family: "Playfair Display", serif; */

  background-color: var(--background);
  color: var(--copy);
}


::selection {
  background: var(--primary);
}
::-moz-selection {
  background: var(--primary);
}
